<nav class="navbar navb navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/dashboard">
        <img src="https://cdn-icons-png.flaticon.com/512/2098/2098322.png" alt="Recipes App" width="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link mt-1 mb-1"  routerLinkActive="selected" routerLink="/dashboard" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Dashboard</a>
          <a class="nav-link mt-1 mb-1"  routerLinkActive="selected" routerLink="/insert" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" >Agregar</a>
        </div>
      </div>
    </div>
  </nav>
